*{
    margin: 0;
    padding: 0;
}

.cabeçalho {
    background-color: #383D58;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabeçalho-imagem{
    width: 18%;
    margin-right: 14cm;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0% 16px;
    font-size: 18px;
    font-family: 'Inter', sans-serif;

}


.escola-imagem{
    width: 22%;
   
}

.escola{
    background-image: linear-gradient(#4D0371,#994EBC);
    color: white;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    display: flex;
}



.escola-div-conteudo{
width: 40%;
font-size: 19px;
font-family: 'Inter', sans-serif;
margin-right: 5cm;
}

.escola-titulo{
    padding: 35px 0;
}


.estudante-imagem{
    width: 150px;
    height: 200px;
    align-items: center;
    padding: 20px 0;
}

.estudante-icone{
    width: 24px;
    padding: 15px 0;
}

.estudante-div{
    text-align: center;
}

.estudante-titulo{
    text-align: center;
    padding: 40px 0;
    background-color: #994EBC;
    font-family: 'Inter', sans-serif;
}
.estudante-todos{
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
justify-content: center;
padding: 15px 0;
background: #994EBC;
color: white;
font-family: 'Inter', sans-serif;
}

.rodape{
    background-color: black;
    text-align: center;
   
}

.imagem-rodape{
   height: 40px;
   padding: 12px 0;
  width: 4cm;
}

.estudante-nome{
    color: white;
}




